.breadscrumb-box {
  width: 100%;
  background-color: $bg-grey;
  border-radius: 5rem;
}

.breadscrumb-box--mt {
  margin-top: 2rem;

  @media(max-width: 767px) {
    margin-top: 6rem;
  }
}

.breadscrumb {
  display: flex;
  padding: 1rem 2rem;
  // gap: 3rem;
  // height: 5rem;

  &__item {
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // margin-right: 1rem;
    // margin-left: 3rem;
    padding: 0 1rem;

    &::after {
      content: "/";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      font-size: 1.6rem;
      font-weight: 700;
      color: $cl-text;
    }

    &:last-child {
      // margin-left: 2rem;

      &::after {
        content: "";
      }
    }
  }

  &__link {
    // height: 100%;
    // display: block;
    // font-size: 3rem;
    // color: $cl-text;
    text-decoration: none;

    &:hover {
      opacity: .7;
    }
  }

  &__link,
  &__text {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color: $cl-text;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: $cl-text;
  }
}