.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: url(/img/flag/russia_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10000;
}