.header {
  // padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // background-color: $bg-menu;
  // background-color: #34bf49;
  background-image: url(../img/flag/russia_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // box-shadow: 0 0 10px 5px rgb(116 110 78 / 50%);
  // box-shadow: 0 0 10px 5px #34bf49;
  z-index: 10000;

  @media (max-width: 767px) {
    background-image: none;
  }
}

.nav {
  position: relative;

  @media(max-width: 767px) {
    overflow: auto;
    height: 100vh;
  }

  &__header {
    display: none;
    width: 100%;
    height: 7rem;
    padding: 5rem 2rem;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px 5px rgb(116 110 78 / 50%);

    @media(max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: .2rem solid rgb(116 110 78 / 50%);
    border-radius: .5rem;

    &:hover {
      border: .2rem solid $cl-text;
    }

    &:hover .nav__icon-burger {
      stroke: $cl-text;
      rotate: 180deg;
    }

    &:hover .nav__icon-close {
      fill: $cl-text;
      rotate: 180deg;
    }

    // width: 5rem;
    // height: 5rem;
    // background-color: green;
  }

  &__icon-burger,
  &__icon-close {
    width: 5rem;
    height: 5rem;
    stroke: rgb(116 110 78 / 50%);
    stroke-width: 3;
    stroke-linecap: round;
  }

  &__icon-close {
    fill: rgb(116 110 78 / 50%);
  }

  &__icon-close._hidden,
  &__icon-burger._hidden {
    display: none;
  }

  &__menu {
    @media (min-width: 767px) {
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 767px) {
      display: none;
      background-color: $bg-menu;
      min-height: 100vh;
      z-index: 10;
    }
  }

  &__menu._active {
    display: block;
  }

  &__item {
    margin: 0 auto;
    z-index: 10000;
  }

  &__dropdown {
    display: flex;
    font-size: 2.4rem;
    // color: rgb(172, 247, 247);
    color: $cl-text;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem;
    height: 100%;

    &:hover {
      // background-color: rgb(116 110 78 / 50%);
      color: $bg-menu;

    }

    &:hover html {
      overflow: hidden;
    }

    &:hover body {
      overflow: hidden;
    }

    &:hover .first__icon {
      // background-color: rgb(116 110 78 / 50%);
      fill: $bg-menu;
      stroke: $bg-menu;
    }

    &:hover .arrow__icon {
      // background-color: rgb(116 110 78 / 50%);
      fill: $bg-menu;
      // stroke: $bg-menu;
    }

    &:focus {
      outline: none;
      // background-color: rgb(116 110 78 / 50%);
    }
  }
}

.submenu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translate(-200%, -200%);
  pointer-events: none;
  overflow-y: auto;
  overflow-x: hidden;
  top: 6.4rem;
  background-color: $bg-menu;
  width: 70vw;
  height: 70vh;
  // overflow: auto;
  z-index: 1000;
  // box-shadow: inset 0px 7px 10px 0px #000000;
  // box-shadow: inset 0 0 10px 5px rgb(116 110 78 / 50%);
  // border-top: .1rem solid inset 0 0 10px 5px rgb(116 110 78 / 50%);
  padding: 0 3rem;
  box-shadow: inset 0 0 10px 5px rgba($black, .4);

  @media(max-width: 767px) {
    position: relative;
    top: 0;
    display: none;
  }

  left: 50%;
  // right: 50%;

  transform: translate(-50%);

  &__title {
    font-size: 4rem;
  }

  &__list--title {
    // font-size: 2rem;
    font-weight: 700;
  }

  &__header {
    padding: 2rem 0;
    margin-bottom: 5rem;
    border-bottom: .1rem solid rgb(116 110 78 / 50%);

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__box {
    display: flex;
    gap: 3rem;
    // overflow: scroll;
    // width: 120rem;

    // flex-wrap: wrap;
    @media (max-width: 767px) {
      flex-direction: column;
      margin-top: 2rem;
      gap: 1rem;
    }

  }

  &__list {
    // width: 30%;
    // display: flex;
    // flex-direction: column;
    // justify-content: ;
    // align-items: flex-end;
  }

  &__list-item {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    // width: 32rem;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: $cl-text;

    &:hover {
      color: $cl-hover;
      text-decoration: underline;
    }
  }
}

.first {

  width: 1.8rem;
  height: 1.8rem;
  margin-right: .5rem;
  margin-bottom: 0.5rem;
  // padding-bottom: 2rem;

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: $cl-text;
    stroke: $cl-text;
    stroke-width: 1;
  }
}

.arrow {
  display: none;
  width: 3rem;
  height: 3rem;
}

.arrow__icon {
  width: 3rem;
  height: 3rem;
  fill: $black;
}


body._pc .nav__item:hover>.submenu {
  // display: block;

  @media (min-width: 767px) {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%);
    pointer-events: all;

  }
}

body._pc .nav__item>.submenu._active {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%);
  pointer-events: all;
}

//Экран с точ падом скрываем пункт меню 
body._touch .submenu {
  opacity: 0;
  visibility: hidden;
  transform: translate(-200%);
  pointer-events: none;

  @media(min-width: 767px) {
    top: 7rem;
  }
}

//показываем подменю после нажатия на пункт монеты 
body._touch .submenu._active {
  // top: 7rem;
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%);
  pointer-events: all;
}

//добавляем стрелки в пункты меню при touch
body._touch .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  // padding-top: 0.2rem;
  // padding-left: 0.5rem;
  // width: 0;
  // height: 0;
  // border-left: 5px solid transparent;
  // border-right: 5px solid transparent;
  // border-top: 10px solid $cl-text;
  // margin-left: 5px;
}

body._touch .nav__dropdown {
  display: flex;
  align-items: center;
}

body._touch .arrow {
  margin-right: 0;
  margin-left: auto;
  // align-items: flex-end;
}

body._touch ._arrow-rotate {
  transform: rotate(-180deg);
  // padding-top: 0;
  // padding-left: 0;
  // padding-bottom: 10rem;
  // padding-right: 4rem;
}