$black: #000;
$white: #fff;
$bg-menu: #F6F8F9;
$bg-grey: #abb8c3;
$cl-text: #373535;
$cl-hover: #a94442;
$bg-mf-grey: rgb(79 83 88 / 50%);
// $bg-sidebar-hover: #b4ae8e;
$bg-sidebar-hover: #34bf49;
// $bg-sidebar-hove: #99f1a6;
$bg-accordion: #e9f3d1;
$bg-thumbs: #3692e7;
$bg-sort: rgba(79, 83, 88, .1);
$bg-border-accordion: #d5d9dd;