.coins-info {
  &__title {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
    color: $cl-text;
  }

  &__article {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: justify;
    color: $cl-text;
  }

  &__link {
    display: block;
    width: 25rem;
    font-size: 1.8rem;
    margin: 2rem 0;
    color: $cl-text;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}